body {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: black;
  color: white;
}

canvas.centering {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 95vmin;
  height: 95vmin;
}
